<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
            <ul>
                <li>
                    <a  href="{{ path('projets_index') }}">Projet</a>
                </li>
                <li>
                    <ahref="{{ path('taches_index') }}">Taches</a>
                </li>
                <li>
                    <a href="{{ path('user_index') }}">User</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
    </body>
</html>
