{% extends 'base.html.twig' %}

{% block body %}

    <h1>Bonjour </h1>
{% for valeur in user  %}
        <p>Nom : {{ valeur.nom }} </p>
        <p>Prenom : {{ valeur.prenom }} </p>
{% endfor %}

{% endblock %}